@page "/fetchdata"
@using bWasm.Shared
@using FastEndpoints

<PageTitle>Weather forecast</PageTitle>

<h1>@result</h1>

@code {
    private string result = "retrieving...";

    protected override async Task OnInitializedAsync()
    {
        result = (await new CreateOrderCommand
                      {
                          OrderId = 1001,
                          CustomerName = "Holly Simms"
                      }
                      .RemoteExecuteAsync()).Message;
    }

}