@page "/fetchdata"
@using bWasm.Shared
@using FastEndpoints

<PageTitle>Weather forecast</PageTitle>

<h1>@_result</h1>

@code
{
    private string _result = "retrieving...";

    protected override async Task OnInitializedAsync()
    {
        _result = (await new CreateOrderCommand
                       {
                           OrderId = 1001,
                           CustomerName = "Holly Simms"
                       }
                       .RemoteExecuteAsync()).Message;
    }
}